p {
    color:blue;
}
body {
    background:linear-gradient(0deg, #34495e, #555759);
}
#myname {
  margin-top: 45px;
  margin-bottom: 45px;
  margin-right: 450px;
  margin-left: -4px;
    border-radius: 10px;
    background-color: rgb(28, 26, 165);
    color:black
}

.list-style {
    
}

.list-style p {
text-align: center;
}
#id-image1{
border-radius: 1200px;
}

.linkedin {
border-radius: 120px;

}
.bottom img:hover{

    transform: scale(1.3, 1.3);
    
}

.sobre {
  margin-top: 15px;
  margin-bottom: 45px;
  margin-right: 450px;
  margin-left: -4px;
  background-color: #2D3032;
  border-radius: 10px;
  
}


